In [7]:
## Exercise 1: Create a Jupyter Notebook

In [8]:
## Exercise 2: Create markdown cell with title of the notebook "Data Science Tools and Ecosystem"

## Data Science Tools and Ecosystem ##

In [11]:
## Exercise 3 - Create a markdown cell for an introduction: "Write an introductory sentence about the notebook such as the follows:"

In this notebook, Data Science Tools and Ecosystem are summarized.

In [11]:
## Exercise 10 - Insert a markdown cell to list Objectives

__Objectives__:
* Jupyter
* R
* SQL
* Scala
* Java

In [15]:
## Exercise 4 - Create a markdown cell to list data science languages: Start the cell with an overview line such as

Some of the popular languages that Data Scientists use are:
1. Jupyter
2. R
3. SQL
4. Scala
5. Java

In [ ]:
## Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matpot
3. Numpy
4. Seaborn
5. Scikit

In [1]:
## Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|:------------------:|
|       Python       | 
|--------------------|
|          R         |  
|--------------------|
|         SQL        |  
|--------------------|
|        Java        |
|--------------------|
|        Scala       |

In [2]:
## Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [8]:
## Exercise 8 - Create a code cell to multiply and add numbers

In [7]:
## This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
## Exercise 9 - Create a code cell to convert minutes to hours

In [10]:
##This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

In [12]:
## Exercise 11 - Create a markdown cell to indicate the Author's name

## Author ##

Jember Beza